@media(orientation:portrait) and (max-width:760px) {
  #container {
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media(orientation:portrait) and (min-width:761px) {
  #container {
    height: auto;
    background-color: rgb(255, 255, 255);
    margin: 0 10%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media(orientation:landscape) {
  #container {
    height: 100vh;
    width: 60%;
    background-color: rgb(255, 255, 255);
    margin: 0 20%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

:host {
  height: 100%;
  width: 100%;
}

#container>* {
  margin-bottom: 5px;
}

p.success {
  background-color: rgb(77, 255, 77);
}
