
<form (submit)='onRegisterSubmit()' id='container' class='animated bounceInDown'>
    <label class='stretch'>Name</label>
    <input class='stretch' type='text' [(ngModel)]='name' name='name' >

    <label class='stretch'>Username</label>
    <input class='stretch' type='text' [(ngModel)]='username' name='username' >
	
    <label class='stretch' >Password</label>
    <input class='stretch' id='password' type='password'	[(ngModel)]='password' name='password' >
    
	<label class='stretch'>Retype Password</label>
    <input class='stretch' id='retypepassword' type='password' [(ngModel)]='retypepassword' name='retypepassword'>
    
	<input class='stretch' id='submit' type='submit'  value='Submit'>
</form>
