<!-- dashboard -->

<div id='dashbar' class='animated bounceInRight '>
  <div id='friendpicturecontainer' title='Update Profile Picture'>
    <img id='friendpicture' src="{{profileSrc}}" (click)="changeUpdatePhotoState()" />
  </div>
  <div id='flex-container'>
    <label class=''>{{currentFriend?.name}}</label>
    <label class=''>#L:{{currentFriend?.lCount}}</label>
    <!-- <button (click)="navUserHome()">Home</button> -->
    <button (click)="changeAddFormState()" class='button'>New L</button>
  </div>
</div>
<!-- add L -->
<form *ngIf="showAddForm" (submit)="onAddLSubmit()" id='addL' class='animated fadeIn'>
  <img src='../../../assets/cross-out.png' class='exit' (click)='resetFormHelpers()'>
  <label>Title</label>
  <input type="text" [(ngModel)]="newTitle" name="title">
  <label>Description</label>
  <input id='add-l-width' type="text" [(ngModel)]="newDesc" name="desc">
  <!-- file input -->
  <label>Image (optional)</label>
  <input  type=file (change)='fileChangeListener($event)' />
  <img-cropper [image]="data1" #cropper [settings]="cropperSettings1" (onCrop)="cropped($event)" ></img-cropper>
  <button type="button" (click)="changeWarningState()" class='button'>Submit</button>
  <div id='warning' *ngIf="showWarning">
    <p>
      Is your information Correct? The LBoard ensures immutablity of L's
    </p>
    <input type="submit" value="Yes" class='button'>
    <button type='button' (click)="resetFormHelpers()" class='button'> No</button>
  </div>
</form>
<!--  profile upload -->
<div id='profileupload' *ngIf="showUpdatePhoto" class='animated fadeIn'>
  <img src='../../../assets/cross-out.png' class='exit' (click)='resetFormHelpers()'>

  <label>Please upload an image of your friend</label>
  <input  id='profile-width' type=file (change)='fileChangeListener($event)' />
  <img-cropper [image]="data1" #cropper [settings]="cropperSettings1" (onCrop)="cropped($event)" ></img-cropper>
  <button id='updatephotosubmit' (click)="onUpdatePicture()" class='button'>Upload</button>
</div>

<!-- going to be the Ls for display-->
<div id='lContainer'>
  <div class='L' *ngFor='let L of Ls'>
    <div class='top'>
      <label id='title'>{{L.title}}</label>
      <label id='date'>{{L.date}}</label>
    </div>
    <div class='imagecontainer' *ngIf="L.hasImage">
      <img class='limage' src="data:image/png;base64,{{L.image.data}}" />
      <!-- <img class='limage' src="{{L.image.data}}" /> -->
    </div>
    <p class='description'> {{L.desc}}</p>
  </div>
</div>
