@media(orientation:portrait) and (max-width:760px){
  :host {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5vw 0;
  }
  /* dashbar */
  #friendContainer {
    display: flex;
    flex-direction: column-reverse;
    border: 5px solid rgb(0, 168, 230);
    height: auto;
    width: 90vw;
    background-color: white;
  }
  #flex-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    float: left;
    align-items: stretch;
  }
  #friendpicturecontainer {
    height: 50vw;
    width: 50vw;
    margin: 0px 20vw;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  #friendpicture {
    height: 100%;
    cursor: pointer;
  }
  /* add L */
  #addL,
  #profileupload {
    width: 80%;
    padding: 1em;
    background-color: rgb(206, 232, 243);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
  }
  .exit {
    align-self: flex-end;
  }
  .img-crop {
    background-color: rgb(206, 232, 243);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .local-warning {
    margin: 5px 0;
  }
  /* L stuff */
  .L {
    background-color: white;
    display: block;
    border: 2px solid rgb(0, 168, 230);
    height: auto;
    width: 90vw;
    margin-top: 5vw;
  }
  .top {
    display: flex;
    justify-content: space-between;
    background-color: rgb(206, 232, 243);
    align-items: center;
  }
  #title {
    margin-left: 10%;
    padding-top: 2%;
  }
  #date {
    margin-right: 10%;
    padding-top: 2%;
  }
  .imagecontainer {
    height: 60vw;
    background-color: #9ab9b9;
  }
  .limage {
    height: 100%;
  }
  .description {
    padding: .5em;
  }
}
@media (orientation:landscape) and (max-width:760px){
  :host {
    display: block;
    height: 100%;
    width: 100%;
  }
  /* dashbar */
  #dashbar {
    border-bottom: 1px solid rgb(0, 168, 230);
    width: 80%;
    padding: 1em 0;
    margin: 1em 9.9%;
  }
  #flex-container {
    display: flex;
    flex-direction: row;
  }
  #flex-container>* {
    margin-right: 5px;
  }
  #friendpicturecontainer {
    height: 10vw;
    float: left;
    position: relative;
    transform: translate(-2vw, -2vh);
  }
  #friendpicture {
    border: 1px solid rgb(0, 168, 230);
    border-radius: 100%;
    height: 100%;
  }
  /* add L */
  #addL,
  #profileupload {
    min-width: 20vw;
    padding: 1em;
    background-color: rgb(206, 232, 243);
    position: absolute;
    transform: translateX(50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
  }
  .exit {
    align-self: flex-end;
  }
  .img-crop {
    background-color: rgb(206, 232, 243);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .local-warning {
    margin: 5px 0;
  }
  /* lstuff */
  .L {
    background-color: white;
    display: block;
    border: 2px solid rgb(0, 168, 230);
    height: auto;
    width: 60vw;
    margin: 5vw 20vw 0 20vw;
  }
  .top {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    background-color: rgb(206, 232, 243);
    align-items: center;
  }
  .imagecontainer {
    height: 20vw;
    background-color: #9ab9b9;
  }
  .limage {
    height: 100%;
  }
  .description {
    padding: .5em;
  }
}
@media(orientation:portrait) and (min-width:761px){
  :host {
    display: block;
    height: 100%;
    width: 100%;
  }
  /* dashbar */
  #dashbar {
    border-bottom: 1px solid rgb(0, 168, 230);
    width: 80%;
    padding: 1em 0;
    margin: 1em 9.9%;
  }
  #flex-container {
    display: flex;
    flex-direction: row;
  }
  #flex-container>* {
    margin-right: 5px;
  }
  #friendpicturecontainer {
    height: 10vw;
    float: left;
    position: relative;
    transform: translate(-2vw, -2vh);
  }
  #friendpicture {
    border: 1px solid rgb(0, 168, 230);
    border-radius: 100%;
    height: 100%;
  }
  /* add L */
  #addL,
  #profileupload {
    min-width: 20vw;
    padding: 1em;
    background-color: rgb(206, 232, 243);
    position: absolute;
    transform: translateX(50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
  }
  .exit {
    align-self: flex-end;
  }
  .img-crop {
    background-color: rgb(206, 232, 243);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .local-warning {
    margin: 5px 0;
  }
  /* lstuff */
  .L {
    background-color: white;
    display: block;
    border: 2px solid rgb(0, 168, 230);
    height: auto;
    width: 60vw;
    margin: 5vw 20vw 0 20vw;
  }
  .top {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    background-color: rgb(206, 232, 243);
    align-items: center;
  }
  .imagecontainer {
    height: 20vw;
    background-color: #9ab9b9;
  }
  .limage {
    height: 100%;
  }
  .description {
    padding: .5em;
  }
}
@media(orientation:landscape) and (min-width:1024px){
  :host {
    display: block;
    height: 100%;
    width: 100%;
  }
  /* dashbar */
  #dashbar {
    border-bottom: 1px solid rgb(0, 168, 230);
    width: 80%;
    padding: 1em 0;
    margin: 1em 9.9%;
  }
  #flex-container {
    display: flex;
    flex-direction: row;
  }
  #flex-container>* {
    margin-right: 5px;
  }
  #friendpicturecontainer {
    height: 10vw;
    float: left;
    position: relative;
    transform: translate(-2vw, -2vh);
  }
  #friendpicture {
    border: 1px solid rgb(0, 168, 230);
    border-radius: 100%;
    height: 100%;
  }
  /* add L */
  #addL,
  #profileupload {
    min-width: 20vw;
    padding: 1em;
    background-color: rgb(206, 232, 243);
    position: absolute;
    transform: translateX(50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
  }
  .exit {
    align-self: flex-end;
  }
  .img-crop {
    background-color: rgb(206, 232, 243);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .local-warning {
    margin: 5px 0;
  }
  /* lstuff */
  .L {
    background-color: white;
    display: block;
    border: 2px solid rgb(0, 168, 230);
    height: auto;
    width: 60vw;
    margin: 5vw 20vw 0 20vw;
  }
  .top {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    background-color: rgb(206, 232, 243);
    align-items: center;
  }
  .imagecontainer {
    height: 20vw;
    background-color: #9ab9b9;
  }
  .limage {
    height: 100%;
  }
  .description {
    padding: .5em;
  }
}

