@media (orientation:portrait){
	#container{
		background-color:rgb(0, 168, 230);	
		border: 2px solid rgb(0, 37, 51);
		margin: 5px 15vw;
		padding:.5em;
		color:white;
		display:flex;
		flex-direction:column;
		justify-content:space-around;
		align-items:stretch;
		position:relative;
	}

}
@media (orientation:landscape){
	#container{
		background-color: rgb(206, 232, 243);
		/* border: 2px solid rgb(0, 37, 51); */
		margin-left:50vw;
		padding:.5em;
		display:flex;
		flex-direction:column;
		justify-content:space-around;
		align-items:stretch;
		position:absolute;
		z-index:1;
	}
	#container>*{
		margin-bottom: 5px;
	}


}
