@media (orientation:portrait){
	#imagecontainer{
		height:95vh;
		display:flex;
		flex-direction:column;
	}
	.coverimage{
		height:33%;
		opacity:.5;
	}	
	#text{
		font-size:10vw;
		position:fixed;
		top:10vh;
		color:rgb(0, 37, 51);
	}
}

@media (orientation:landscape){
	#imagecontainer{
		display:flex;
		flex-direction:column;
	}
	.coverimage{
		width:100%;
		opacity:.5;
	}		
	#text{
		font-size:5vh;
		position:fixed;
		top:10vh;
		left:10vw;
		right:10vw;
		color:rgb(0, 37, 51);
	}
}
