<div id='top'>
    <p  class='lboard'>LBoard</p>
    <!-- <p>For those mistakes that need to go down in history.</p> -->
    <p class='lboard-desc' >For the memories too important to forget</p>
</div>
<div id='bottom'>
    <div class='images' id='image1'></div>
    <div id='text1' class='text-box'>
        <p class='title'>Memories</p>
        <p class='content'>Friends and family are what makes life worth living. Friends and family are the reason the LBoard was created. To save events with the ones dearest to you.</p>
    </div>
    <div class='images' id='image2'></div>
    <div id='text2' class='text-box'>
        <p class='title'>Privacy</p>
        <p class='content'> You can't deny though that some of your best memories were made doing stupid shit. Stupid shit you wouldn't want family or employers to see. With the LBoard only you can access your events.</p>
    </div>
    <div class='images' id='image3'></div>
    <div id='text3' class='text-box'>
        <p class='title'>Immutability</p>
        <p class='content'>So why LBoard? Ever had an event where someone did something stupid or committed a party foul? Its funny how the story changes by the person who committed such acts. With the LBoard, once its in ... its there for the rest of time.</p>
    </div>
</div>