<div id='top'>
    <p  class='lboard'>LBoard</p>
    <!-- <p>For those mistakes that need to go down in history.</p> -->
    <p >A modern solution to an age old problem: terrible friends.</p>
</div>
<div id='bottom'>
    <div class='images' id='image1'></div>
    <div id='text1' class='text-box'>
        <p class='title'>Memory</p>
        <p class='content'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam inventore laborum, veniam nobis veritatis suscipit fuga assumenda illo hic cumque ex libero repellat aut reprehenderit similique facere quam consequuntur at.</p>
    </div>
    <div class='images' id='image2'></div>
    <div id='text2' class='text-box'>
        <p class='title'>Privacy</p>
        <p class='content'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam inventore laborum, veniam nobis veritatis suscipit fuga assumenda illo hic cumque ex libero repellat aut reprehenderit similique facere quam consequuntur at.</p>
    </div>
    <div class='images' id='image3'></div>
    <div id='text3' class='text-box'>
        <p class='title'>Immutability</p>
        <p class='content'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam inventore laborum, veniam nobis veritatis suscipit fuga assumenda illo hic cumque ex libero repellat aut reprehenderit similique facere quam consequuntur at.</p>
    </div>
</div>