
#container {
  height: 5vh;
  background-color: rgb(78, 166, 169);
  color: white;
  margin-top: 0px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 0px 0px 0px;
  width: 100%;
}

label:hover {
    color: rgb(224, 105, 105);
}
