:host {
  height: 100%;
  width: 100%;
  background-color: white;
}
.settingsoption:hover,
.warningoption:hover {
  background-color: rgb(153, 226, 255);
  color: rgb(0, 37, 51);
}
.settingsoption:hover,
.warningoption:hover {
  background-color: rgb(153, 226, 255);
  color: rgb(0, 37, 51);
}
ul {
  margin-top:1em;
  list-style-type: none;
}
li {
  width: 100%;
  background-color: white;
  margin: 0 0 3px 0;
  height: 21px;
}
.liDeleteButton {
  height:100%;
  border: none;
  text-decoration: none;
  color: white;
  background-color: rgb(255, 92, 51);
  float: right;
  cursor: pointer;
}
.friendimage {
  height:100%;
  width: 100%;
  cursor: hand;
  cursor: pointer;
}
.friendcontainer, .imagecontainer {
  width: 100%;
  border-radius: 100%;
  overflow:hidden;

}  
.friendname{
color:black;
}

#warningmessage > *{
  margin-top: 1em ;
}
/* ---------------------------------------- */
/* mobile porttrait */
@media(orientation:portrait) and (max-width:760px){
  #dash {
    padding: 1em;
    border-bottom: 1px solid rgb(0, 168, 230);
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; */
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:.2em;
  }

  #manageFriends,#settings {
    width: 90vw;
    margin:3px;
    padding: 1em;
    background-color: rgb(206, 232, 243);
    position: absolute;
  }

  #iconContainer {
    width: 80%;
    margin: 1em 9.9%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
 
  }

}
/* mobile landscape */
@media (orientation:landscape) and (max-width:760px){
  #dash {
    width: 80%;
    padding: 1em;
    margin: 1em 9.9%;
    border-bottom: 1px solid rgb(0, 168, 230);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  #dash>* {
    margin-right: 5px;
  }
  #manageFriends,#settings {
    margin: auto;
    padding: 1em;
    background-color: rgb(206, 232, 243);
    position: absolute;
    transform: translateX(60%);
  }

  #iconContainer {
    width: 80%;
    margin: 1em 9.9%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
 
  }
}
/* tablet portrait */
@media(orientation:portrait) and (min-width:761px){

  #dash {
    padding: 1em;
    border-bottom: 1px solid rgb(0, 168, 230);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

  }
  #dash>* {
    margin-right: 5px;
  }

   #manageFriends,#settings {
    margin: auto;
    padding: 1em;
    background-color: rgb(206, 232, 243);
    position: absolute;
    transform: translateX(60%);
  }

  #iconContainer {
    width: 80%;
    margin: 1em 9.9%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
 
  }

}
/* tablet landscape and laptop */
@media(orientation:landscape) and (min-width:1024px){
  #dash {
    width: 80%;
    padding: 1em;
    margin: 1em 9.9%;
    border-bottom: 1px solid rgb(0, 168, 230);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  #dash>* {
    margin-right: 5px;
  }
  #manageFriends,#settings {
    width: 20vw;
    margin: auto;
    padding: 1em;
    background-color: rgb(206, 232, 243);
    position: absolute;
    transform: translateX(90%);
  }
  
  #iconContainer {
    width: 80%;
    margin: 1em 9.9%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
 
  }

}
