<!-- USER DASHBOARD -->
<div id='userDB' class='flex-container'>
	<div class='flex-item'>
		<p >friend count: {{friendCount}}</p>
	</div>
	
	<div class='flex-item'(click)='setActionSelector("add")'>
		<p>Add Friend</p>
	</div>
	
	<div class='flex-item' (click)='setActionSelector("delete")'>
		<p>Delete Friend</p>
	</div>
	
	<div class='flex-item lastflex-item' (click)='setActionSelector("settings")'>
		<p>Settings</p>
	</div>
	
</div>


<div *ngIf='getActionSelectorDelete()' id='delete' class='animated fadeIn'>
	<ul>
		<li *ngFor='let friend of friends'>{{friend.name}} <button class='liDeleteButton' (click)='deleteFriendChosen(friend._id)' >X</button></li>
	</ul>
</div>
<div *ngIf='getActionSelectorSettings()' id='settings' class='flex-container' class='animated fadeIn'>
	<button  class='settingsoption' (click)='deleteUserPrompt()'>Delete My Account</button><button  class='settingsoption' (click)='onLogoutClick()'> LogOut</button>
</div>
<div *ngIf='getActionSelectorAdd()' id='add' class='animated fadeIn'>
	<form  (submit)="onAddFriendSubmit()" id='addFriend' >
		<label>Name</label>
		<input type="text" [(ngModel)]="newFriendName" name="newFriendName" >
		<input type="submit"  value="Add Friend">
	</form>
</div>
<!-- warning message -->
<div *ngIf=warningMessage id='warningmessage'>

	<button *ngIf="getActionSelectorSettings()" class='warningoption'(click)='deleteUser()'>Proceed</button><button *ngIf="getActionSelectorDelete()" class='warningoption'(click)='deleteFriend()' >Proceed</button><button class='warningoption'(click)='resetFormHelpers()' >Cancel</button>

</div>
<!-- friend  -->

<div id='iconContainer'   >

	<div class='friendcontainer' *ngFor='let friend of friends' 
	[ngStyle]="setFriendContainerStyle('')"
	>	
		<div class='friendimagecontainer animated flip' >
		<img 	[routerLink]="['/friendsls', friend._id]"
			class='friendimage'  
			src='{{friend.image.data}}' />
		</div>	
		{{friend.name}}
	</div>		

</div>
<div id='arrowContainer'>
	<button class='arrows' (click)="setFriendContainerStyle('left')" >&lt;</button><button class='arrows' (click)="setFriendContainerStyle('right')" >&gt;</button>
</div>